[user]
	email = neosiddharth@gmail.com
	name = Siddharth Mohanty

[alias]
    lg = lg1
    lg1 = lg1-s --all
    lg2 = lg2-s --all
    lg3 = lg3-s --all
    st = status -s
    unstage = restore --staged
    ignore = "!f() { for arg in \"$@\"; do grep -qxF \"$arg\" .gitignore || echo \"$arg\" >> .gitignore; done; }; f"
    exclude = "!f() { for arg in \"$@\"; do grep -qxF \"$arg\" .git/info/exclude || echo \"$arg\" >> .git/info/exclude; done; }; f"
    can = commit --amend --no-edit

    lg1-s = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
    lg2-s = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
    lg3-s = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset)%n''          %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)'
    bb = !~/Projects/config/git/better-branch.sh
    v = !"gh browse > /dev/null 2>&1 &"
    view = !"gh browse > /dev/null 2>&1 &"


[core]
    pager = delta
	editor = nvim

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    dark = true

[merge]
    conflictstyle = zdiff3
[push]
    autoSetupRemote = true
[init]
	defaultBranch = main
